.navbar-container{
    background-color: rgba(255,255,255,0.9);
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 55px;
}

.dark .navbar-container{
    background-color: var(--dark-backgroud);
}

.navbar-interactions-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.me-auto{
    justify-content: center;
    align-items: center;
}
.navbar-interactions-container>*{
    margin-left: 25px;
    margin-right: 25px;
}
.dark .navbar-interactions-container > * > *{
    color: white;
}

.night-mode-switch{
    position: absolute;
    right: 30px;
}
